body{margin: 0;}

.heroContainer{
    margin: 0;
    padding: 0;
    height: auto;

    display: grid;
    grid-template-columns: [col1]25% [col2]50% [col3]25%;
    grid-template-rows: [row1-start]15% [row1-end]15% [row2]70% [row2-end];
}

.heroContainer img.title{
    justify-self: center;
    margin-top: 2rem;
    grid-column: col2;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.heroContainer p.pageTitle{
    background-color: #F9D108;
    grid-column: col2;
    grid-row-start: row1-end;

    padding: 1rem 3rem;
    font-size: 1.2rem;
    place-self: center;
}

.heroContainer .meganContainer{
    justify-content: center;
    grid-row-start: row2;
    grid-row-end: row2-end;
    grid-column: col2;
    
    display: grid;
    grid-template-rows: [row1] 100%;
    grid-template-columns: [col1-v]15% [col2-v]70% [col3-v]15%;

}
.heroContainer .meganContainer img.megan-center{
    justify-content: center;
    grid-row-start: row1;
    grid-column: col2-v / col3-v;
    z-index: 99;
}
.heroContainer .meganContainer img.megan-back-left{
    margin-right: 10rem;
    grid-row-start: row1;
    grid-column: col2-v / col3-v;
}
.heroContainer .meganContainer img.megan-back{
    margin-left: 10rem;
    grid-row-start: row1;
    grid-column: col2-v / col3-v;
}

.containerWrapper{
    padding-top: 2rem; 
}